body
  color #ccc
  a
    text-decoration none
    -webkit-border-radius 100%
    -moz-border-radius 100%
    -webkit-box-shadow 1px 1px black
    -moz-box-shadow 1px 1px black
    color #666
    &:hover
      text-decoration underline
      -webkit-border-radius 100%
      -moz-border-radius 100%
      -webkit-box-shadow 1px 1px black
      -moz-box-shadow 1px 1px black
      color #333
    &:active
      color #000